html{
  font-size: 100%;
  
}

body{
  padding:0;
    margin:0;
}

*{
  box-sizing: border-box;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li{
  list-style: none;
}

.brand-title a{
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;

  text-decoration: none;
  color: white;
}
.brand-title{
  margin: 1rem;
}
.brand-title a:hover{
  color: #E4C1EF ;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover{
  background-color: #ADCDDD ;
}

.toggle-button{
  display: none;
  position: absolute;
  right: 1rem;
  width: 1rem
}

.fa{
  color: white;
}

@media screen and (max-width: 800px){
  .toggle-button{
    display: block;
    top: 1.5rem;
  }
  .navbar-links{
    display: none;
   width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li a{
    padding: 0.5rem 1rem;
  }
  .navbar-links.active{
    display:flex;
  }
}

.main-body{
  background-color: #333;
  min-height: 22rem;
  padding-top: 1rem;
  
}

h1{
  font-family: 'Lato', sans-serif;
  color: white;
  padding-left: 5rem;
  font-size: 3rem;
  padding-top: 1rem;
}
.highlight{
  color: #BBEFEA ;
  font-weight: bold;
  
}

.highlight-2{
  color: #E4C1EF ;
}

.intro{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.5rem;
  padding-left: 5rem;
  padding-right: 30%;
  padding-bottom: 2rem;
}



h2{
  padding-top: 1rem;
}
h3{
  
  font-family: 'Lato', sans-serif;
  text-align: center;
}



.portfolio{
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 5rem;
}


.box-link-images{
  display: flex;
  
  padding-bottom: 15rem;
}

.projects-box, .competitions-box, .illustrations-box{
  max-width: 33.33%;
  margin-bottom: 0;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  max-width: 1000px;
  transition: opacity 500ms linear;
}
img:hover{
  opacity: 0.3;
}

.intro2{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
}
.illustrations-box2{
  padding: 2rem 1rem;
  background-color: #EBDFFC;
}
.competitions-box2{
  background-color: #F6F1B5  ;
  padding: 2rem 1rem;
}
.projects-box2{
  padding: 2rem 1rem;
  background-color: #C8E0F2 ;
}



@media screen and (max-width: 800px){
  h1{
    font-size: 2rem;
  }
  .box-link-images{
    display: block;
      padding-bottom: 5rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  img{
    width: 100%;
  }
  .projects-box, .competitions-box, .illustrations-box{
  max-width: 100%;
  margin-bottom: 0;
}

}



.footer{
  display: flex;
  
}
.footer-icons{
  display: flex;
   background-color: #333;
   padding-top: 2rem;
   justify-content: center;
   padding-bottom: 2rem;
   
}



.fa-paint-brush, .fa-instagram, .fa-github, .fa-linkedin, .fa-envelope{
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  
  transition: color 500ms linear;
}
.fa-paint-brush:hover, .fa-instagram:hover, .fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover{
  color: #BBEFEA;
}