@import '../../global.scss';

.portfolioList {
    font-size: 20px;
    margin-right:5px;
    padding: 10px;
    position: relative;
    cursor: pointer;

    &.active {
        background-color: $mainColor;
        color: white;
    }

}