//@import '../../global.scss';

html, body {
  height: 100vh;
}
.intro{
    
    /*
        cyan: #C5F3FC 
        blue: #C5D7FC
        purple: #CEC5FC
        pink: #EAC5FC, #FCC5F3
        orqange: #FCC5D7
    */

    overflow-x: hidden;
    position: relative;
    background: url('./backdrop 1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 120vh;
   

    top:0;
    scrollbar-width: none; 
        &::-webkit-scrollbar{
            display:none;
        }
        .intro_page_shift{
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 5;
            background-color: black;
            
            transition-delay: 1s;
            &.active{
                 height: 0vh;
                 transition-delay: 1s;
                 transition: all 1s ease;
            }
        }
    
        .wrapper {
            width:100%;
            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
            padding-top: 25vh;;
           
            
            
            h1{
                font-size: 120px;
                font-weight: normal;
                text-align: left;
                color:white;
                font-weight: normal;

                padding-left: 10%;
                font-family: 'Raleway', sans-serif;

                letter-spacing: 4vh;
                //font-family: 'Dancing Script', cursive;
                margin:0;
                @media (max-width: 800px) {
                    font-size: 50px;
                }
            }
            hr{
                color:white;
                margin-left: 10%;
                margin-right: 30%;
                margin-top: 3vh;
            }
    
            h3 {
                font-size: 30px;
                margin: 0;
                font-weight: bold;
                color:white;
               padding-left: 10%;
                text-align: left;
                padding-bottom: 1vh;
                font-family: 'raleway', serif;
                font-weight: 300;
                @media (max-width: 800px) {
                    font-size: 25px;
                    padding: 1vh 10%;
                }
                
            }
            
        } .iconContainer {
            display:flex;
            align-items: center;
            justify-content: center;
            margin:0;
            
            .downArrow{
                width: 13vh;
                padding-top: 6vh;
                display: block;
                @media (max-width: 800px) {
                    width: 10vh;
                }

                img{
                    width: 100%;
                    animation: arrowBlink 2s infinite;
                    overflow: visible;
                }
                @keyframes arrowBlink {
                    50%{
                        opacity: 0.2;
                    }
                    100%{ opacity: 1;}
                    
                }
            }.downArrow:hover{
                img{
                    color: #FCC5D7;
                    animation: none;
                    width: 14vh;
                    @media (max-width: 800px) {
                        width: 11vh;  
                    }
                }
            }

        }

        
}

@keyframes fadein {
    from { top: 0; }
    to   { top: -100vh; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { top: 0; }
    to   { top: -100vh; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { top: 0; }
    to   { top: -100vh; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { top: 0; }
    to   { top: -100vh; }
}





.circle-container {
    $particleWidth: 10px;
    $particleNum: 200;
    $particleColor: hsl(180, 100%, 80%);
  
    position: absolute;
    transform: translateY(-10vh);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
    .circle {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      mix-blend-mode: screen;
      background-image: radial-gradient(

        hsl(26, 28%, 86%),
        hsl(4, 47%, 74%) 10%,
        hsla(180, 100%, 80%, 0) 56%
      );
  
      animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
  
      @keyframes fade-frames {
        0% {
          opacity: 1;
        }
  
        50% {
          opacity: 0.7;
        }
  
        100% {
          opacity: 1;
        }
      }
  
      @keyframes scale-frames {
        0% {
          transform: scale3d(0.4, 0.4, 1);
        }
  
        50% {
          transform: scale3d(2.2, 2.2, 1);
        }
  
        100% {
          transform: scale3d(0.4, 0.4, 1);
        }
      }
    }
  
    @for $i from 1 through $particleNum {
      &:nth-child(#{$i}) {
        $circleSize: random($particleWidth);
        width: $circleSize + px;
        height: $circleSize + px;
  
        $startPositionY: random(10) +40;
        $framesName: "move-frames-" + $i;
        $moveDuration: 7000 + random(4000) + ms;
  
        animation-name: #{$framesName};
        animation-duration: $moveDuration;
        animation-delay: random(4000) + ms;
  
        @keyframes #{$framesName} {
          from {
            transform: translate3d(
              #{random(100) + vw},
              #{$startPositionY + vh},
              0
            );
          }
          
          to {
            transform: translate3d(
              #{random(100) + vw},
              #{- $startPositionY - random(30) + vh},
              0
            );
          }
        }
  
        .circle {
          animation-delay: random(4000) + ms;
        }
      }
    }
  }
  