.illustration{
    background: #1A1A1A;;
    width: 100%;
    .main{

        height: 100vh;
        width: 100%;
        overflow: hidden;
        
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
            
   
        }
    }

    .gallery{
        display:flex;
        width: 100%;
        justify-content:center;
        .area{
            width: 80%;
            display: flex;
            padding-top: 5%;
            
            @media (max-width: 800px) {
                flex-direction: column;
            }
            
            .col-landscape{
                width:66%;
                @media (max-width: 1200px) and (min-width: 801px) {
                    width: 55%;
                }
                @media (max-width: 800px)  {
                    width:100%;
                }
               
                
            }
            .col-portrait{
                width: 34%;
                @media (max-width: 1200px) and (min-width: 801px) {
                    width: 45%;
                }
                @media (max-width: 800px)  {
                    width:100%;
                }
    
            }
            .col{ //general stuff for columns
                .container{
                    width: 100%;
                    overflow: hidden;
                    img{
                        object-fit: contain;
                        width: 100%;
                        margin: 0;
                        padding:0;
                    }
                    img:hover{
                        filter:brightness(70%) saturate(0.7) blur(2px);
       
                    }
                }
            }
        }
    }
}