.menuback {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    left: -200%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active {
        left: 0;

    }

    @media (max-width: 800px) {
        display: block;

        .sideways_name {
            display: none;
        }
    }
}

.page_shift_one {
    background: white;

}

.page_shift_two {
    background: #FBC8C7;
    transition-delay: 125ms;


}

.page_shift_three {
    background: #B7F8F7;
    transition-delay: 200ms;

}

.menu {

    background: #1A1A1A;
    display: flex;
    flex-direction: row;
    transition-delay: 0ms;

    &.active {

        transition-delay: 300ms;
    }

    .sideways_name {
        rotate: 90deg;
        color: white;
        font-weight: 200;
    }

    ul {
        margin: 0;
        padding: 0;

        list-style: none;
        font-size: 30px;
        font-weight: 300;
        color: white;
        width: 80%;
        text-align: left;
        ;

        .menulink {
            color: white;
            text-decoration: none;
        }

        li {
            margin-bottom: 20px;
            background-color: #1A1A1A;
            /*background: linear-gradient(to right,  #B4F2ED 50%,#1A1A1A   50%) right;*/
            padding: 0 10%;
            font-size: 75px;
            font-weight: 700;
            background-size: 200% 100%;
            transition: 0.1s linear;
            letter-spacing: 2px;

            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                background-color: #B4F2ED;
                font-weight: 500;
                color: black;
                font-style: italic;
            }

        }

        li:hover {
            background-position: left;

            a {
                color: black;
            }
        }

        .icons {
            display: flex;
            align-items: center;
            padding: 0 10%;

            .icon {
                margin: 0;
                margin-right: 2vh;
            }

            .icon:hover {
                color: black;
                background-color: grey;
            }

        }
    }

    @media (max-width: 1200px) and (min-width: 801px) {}

    @media (max-width: 800px) {
        display: block;

        .sideways_name {
            display: none;
        }

        ul {
            padding-top: 20vh;

            li {
                font-size: 40px;
            }
        }
    }
}