.menuback {
    width: 100%;
    height:100%;
    position:fixed;
    top:0;

    left:-100%;
    z-index: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    &.active{
        left: 0;

    }
}

.page_shift_one {
    background: white   ;

}
.page_shift_two {
    background: #F1BACF  ;
    transition-delay: 150ms;
    &.active{
        left: 0;
        background: #E36E6E 
    }

}
.page_shift_three {
    background: #BAF1F1  ;
    transition-delay: 200ms;

}
.menu{
  
    background: #1A1A1A ;
    display: flex;
    flex-direction: row;
    transition-delay: 0ms;
    &.active{
        
        transition-delay: 300ms;
    }
    .sideways_name{
        rotate: 90deg;
        color: white;
        font-weight: 200;
    }
    ul {
        margin: 0;
        padding:0;
        
        list-style:none;
        font-size: 30px;
        font-weight:300;
        color:white;
        width:80%;
        text-align: left;;
        .menulink{
            color: white;
            text-decoration: none;
        }
        li{
            margin-bottom: 20px;
            background: grey;
            background: linear-gradient(to right,  #B4F2ED 50%,#1A1A1A   50%) right;
            padding: 0 10%;
            font-size: 75px;
            font-weight: 700;
            background-size: 200% 100%;
            transition: 0.1s linear;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                font-weight: 500;
            }

        }
        li:hover {
            background-position: left;
            a {
                color:#687BBC ;
            }
        }
        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                margin: 0;
            }.icon:hover {
                
                background-color: #CEC5FC
            }

        }
    }
}

